<div class="d-flex justify-content-center mt-5">
    <div class="col-3">
      <form [formGroup]="registerForm" (ngSubmit)="onSubmit()">
        <div class="text-center mb-4">
          <h1 class="mb-3">Register</h1>
        </div>
        <div class="form-label-group mb-3">
            <input formControlName="displayName" type="text" id="displayName" class="form-control" placeholder="Display Name">
        </div>
        <div class="form-label-group mb-3">
            <input formControlName="email" type="email" id="inputEmail" class="form-control" placeholder="Email Address">
        </div>
        <div class="form-label-group">
            <input formControlName="password" type="password" id="inputPassword" class="form-control" placeholder="Password">        
        </div>
        
       <ul class="text-danger list-styled" *ngIf="errors">
          <li *ngIf="let error of errors">
            {{error}}
          </li>
       </ul>

        <div class="d-grid">
          <button [disabled]="registerForm.invalid" class="btn btn-lg btn-primary mt-3" type="submit">Sign up</button>
        </div>
      </form>
    </div>
  
  </div>