.cart-no{
    position: absolute;
    min-height: 25px;
    max-height: 25px;
    padding:2px;
    border-radius: 75%;
    background: cadetblue;
    color:white;
    text-align:center;
    top: -10px;
    right: 42px;
}